flows.json
[
    {
        "id": "2bc482b3e8055f9a",
        "type": "tab",
        "label": "Escuta Vibrações",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fb5716966343de7",
        "type": "tab",
        "label": "Trata/Envia dados",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4493d830499e4ab",
        "type": "ui_group",
        "name": "Payload",
        "tab": "a763b3333d9a21bb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "",
        "info": "msg.payload"
    },
    {
        "id": "a763b3333d9a21bb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false,
        "info": "msg.payload"
    },
    {
        "id": "68bc9b7a32be8f58",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cb497bc7bd357efb",
        "type": "mqtt-broker",
        "name": "Adafruit",
        "broker": "io.adafruit.com",
        "port": "1883",
        "tls": "",
        "clientid": "RASP-NODE-RED",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d00c3532e391db2e",
        "type": "rpi-gpio in",
        "z": "2bc482b3e8055f9a",
        "name": "Sensor Vibração",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "86be3291042a4db7",
                "8402954f7e7b5306",
                "a90925c0cc4b5095"
            ]
        ]
    },
    {
        "id": "86be3291042a4db7",
        "type": "debug",
        "z": "2bc482b3e8055f9a",
        "name": "Sensor de Vibração Leitura",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 160,
        "wires": []
    },
    {
        "id": "8402954f7e7b5306",
        "type": "ui_gauge",
        "z": "2bc482b3e8055f9a",
        "name": "",
        "group": "d4493d830499e4ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "a90925c0cc4b5095",
        "type": "function",
        "z": "2bc482b3e8055f9a",
        "name": "Incremetar Vibração",
        "func": "if (msg.payload !== 1) {\n    return;\n}\nconst contador = global.get(\"contadorVibracoes\");\nglobal.set(\"contadorVibracoes\", contador + 1);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nglobal.set(\"contadorVibracoes\", 0);\n",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "0c8b326a724c82b8",
        "type": "rpi-dht22",
        "z": "4fb5716966343de7",
        "name": "Sensor Temperatura",
        "topic": "dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "6",
        "x": 580,
        "y": 220,
        "wires": [
            [
                "4834a4953b394260"
            ]
        ]
    },
    {
        "id": "4659eb8d84b1a570",
        "type": "debug",
        "z": "4fb5716966343de7",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "30167fa1a5a832b4",
        "type": "ui_chart",
        "z": "4fb5716966343de7",
        "name": "",
        "group": "d4493d830499e4ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8bb35579d8ef5d2f",
        "type": "debug",
        "z": "4fb5716966343de7",
        "name": "Contador Vibracoes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 460,
        "wires": []
    },
    {
        "id": "8fcf6aa8839eaacc",
        "type": "function",
        "z": "4fb5716966343de7",
        "name": "Busca Vibrações",
        "func": "const contador = global.get(\"contadorVibracoes\");\nmsg.payload = contador;\nglobal.set(\"contadorVibracoes\", 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 400,
        "wires": [
            [
                "8bb35579d8ef5d2f",
                "b8104569cb471f46",
                "dbd582016e384ce1"
            ]
        ]
    },
    {
        "id": "4834a4953b394260",
        "type": "switch",
        "z": "4fb5716966343de7",
        "name": "Tratamento da temperatura",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "10",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 840,
        "y": 220,
        "wires": [
            [
                "70e2816f64b758a9",
                "4659eb8d84b1a570",
                "30167fa1a5a832b4"
            ]
        ]
    },
    {
        "id": "b8104569cb471f46",
        "type": "ui_chart",
        "z": "4fb5716966343de7",
        "name": "",
        "group": "d4493d830499e4ab",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Vibrações",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "dbd582016e384ce1",
        "type": "mqtt out",
        "z": "4fb5716966343de7",
        "name": "Vibração",
        "topic": "weslleydsg/feeds/ac-monitoring-dev.vibracao",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb497bc7bd357efb",
        "x": 800,
        "y": 340,
        "wires": []
    },
    {
        "id": "70e2816f64b758a9",
        "type": "mqtt out",
        "z": "4fb5716966343de7",
        "name": "Temperatura",
        "topic": "weslleydsg/feeds/ac-monitoring-dev.temperatura",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb497bc7bd357efb",
        "x": 1090,
        "y": 220,
        "wires": []
    },
    {
        "id": "6eb4850528fd502a",
        "type": "debug",
        "z": "4fb5716966343de7",
        "name": "Sem conexão",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 100,
        "wires": []
    },
    {
        "id": "f6b6868241d15fab",
        "type": "ping",
        "z": "4fb5716966343de7",
        "protocol": "Automatic",
        "mode": "timed",
        "name": "Conexão",
        "host": "io.adafruit.com",
        "timer": "10",
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "821f9d895ddb0658"
            ]
        ]
    },
    {
        "id": "821f9d895ddb0658",
        "type": "switch",
        "z": "4fb5716966343de7",
        "name": "Verifica conectado",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "6eb4850528fd502a"
            ],
            [
                "8fcf6aa8839eaacc",
                "0c8b326a724c82b8"
            ]
        ]
    }
]