flows.json
[
    {
        "id": "2bc482b3e8055f9a",
        "type": "tab",
        "label": "Escuta Vibrações",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4fb5716966343de7",
        "type": "tab",
        "label": "Trata/Envia dados",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4493d830499e4ab",
        "type": "ui_group",
        "name": "Payload",
        "tab": "a763b3333d9a21bb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "",
        "info": "msg.payload"
    },
    {
        "id": "a763b3333d9a21bb",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false,
        "info": "msg.payload"
    },
    {
        "id": "68bc9b7a32be8f58",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cb497bc7bd357efb",
        "type": "mqtt-broker",
        "name": "Adafruit",
        "broker": "io.adafruit.com",
        "port": "1883",
        "tls": "",
        "clientid": "RASP-NODE-RED",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d00c3532e391db2e",
        "type": "rpi-gpio in",
        "z": "2bc482b3e8055f9a",
        "name": "Sensor Vibração",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "6eb9305a21ae5b89",
                "86be3291042a4db7"
            ]
        ]
    },
    {
        "id": "86be3291042a4db7",
        "type": "debug",
        "z": "2bc482b3e8055f9a",
        "name": "Sensor de Vibração Leitura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "8402954f7e7b5306",
        "type": "ui_gauge",
        "z": "2bc482b3e8055f9a",
        "name": "",
        "group": "d4493d830499e4ab",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": true,
        "className": "",
        "x": 670,
        "y": 120,
        "wires": []
    },
    {
        "id": "a90925c0cc4b5095",
        "type": "function",
        "z": "2bc482b3e8055f9a",
        "name": "Incremetar Vibração",
        "func": "const contador = global.get(\"contadorVibracoes\");\nglobal.set(\"contadorVibracoes\", contador + 1);\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "//O código adicionado aqui será executado uma vez\n// sempre que o nó for iniciado.\nglobal.set(\"contadorVibracoes\", 0);\n",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "17c855b8a721f21b",
        "type": "file",
        "z": "2bc482b3e8055f9a",
        "name": "Salvar Log",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1130,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "94bf5470fb15f669",
        "type": "function",
        "z": "2bc482b3e8055f9a",
        "name": "Trata log",
        "func": "const payload = msg.payload;\nmsg.payload = `${new Date().toISOString()}: \"${payload}\"`;\nmsg.filename = `${global.get('root')}/.logs/ac-logs.txt`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 260,
        "wires": [
            [
                "17c855b8a721f21b"
            ]
        ]
    },
    {
        "id": "6eb9305a21ae5b89",
        "type": "switch",
        "z": "2bc482b3e8055f9a",
        "name": "Tratamento do dado",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 420,
        "y": 220,
        "wires": [
            [
                "a90925c0cc4b5095",
                "8402954f7e7b5306"
            ],
            [],
            [
                "91cd058327d3c53f"
            ]
        ]
    },
    {
        "id": "91cd058327d3c53f",
        "type": "function",
        "z": "2bc482b3e8055f9a",
        "name": "Vibração Errada ",
        "func": "const value = msg.payload;\nmsg.payload = `Leitura do sensor de Vibração fora da faixa: '${value}'`;\nmsg.topic = \"Vibração incorreta\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 260,
        "wires": [
            [
                "94bf5470fb15f669",
                "5fc96e4377cb9bc6"
            ]
        ]
    },
    {
        "id": "5fc96e4377cb9bc6",
        "type": "e-mail",
        "z": "2bc482b3e8055f9a",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "weslleydsg@outlook.com",
        "dname": "Notificar E-mail",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "0c8b326a724c82b8",
        "type": "rpi-dht22",
        "z": "4fb5716966343de7",
        "name": "Sensor Temperatura",
        "topic": "dht11",
        "dht": "11",
        "pintype": "0",
        "pin": "6",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "4834a4953b394260"
            ]
        ]
    },
    {
        "id": "4659eb8d84b1a570",
        "type": "debug",
        "z": "4fb5716966343de7",
        "name": "Temperatura",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 80,
        "wires": []
    },
    {
        "id": "30167fa1a5a832b4",
        "type": "ui_chart",
        "z": "4fb5716966343de7",
        "name": "",
        "group": "d4493d830499e4ab",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "8bb35579d8ef5d2f",
        "type": "debug",
        "z": "4fb5716966343de7",
        "name": "Contador Vibracoes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 640,
        "wires": []
    },
    {
        "id": "8fcf6aa8839eaacc",
        "type": "function",
        "z": "4fb5716966343de7",
        "name": "Busca Vibrações",
        "func": "const contador = global.get(\"contadorVibracoes\");\nmsg.payload = contador;\nglobal.set(\"contadorVibracoes\", 0);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 580,
        "wires": [
            [
                "8bb35579d8ef5d2f",
                "b8104569cb471f46",
                "dbd582016e384ce1"
            ]
        ]
    },
    {
        "id": "4834a4953b394260",
        "type": "switch",
        "z": "4fb5716966343de7",
        "name": "Tratamento da temperatura",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "10",
                "vt": "num",
                "v2": "50",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 740,
        "y": 140,
        "wires": [
            [
                "70e2816f64b758a9",
                "4659eb8d84b1a570",
                "30167fa1a5a832b4"
            ],
            [
                "c1f9b5365f46455a"
            ]
        ]
    },
    {
        "id": "b8104569cb471f46",
        "type": "ui_chart",
        "z": "4fb5716966343de7",
        "name": "",
        "group": "d4493d830499e4ab",
        "order": 1,
        "width": "0",
        "height": "0",
        "label": "Vibrações",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 700,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "dbd582016e384ce1",
        "type": "mqtt out",
        "z": "4fb5716966343de7",
        "name": "Vibração",
        "topic": "weslleydsg/feeds/ac-monitoring.vibracao",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb497bc7bd357efb",
        "x": 700,
        "y": 520,
        "wires": []
    },
    {
        "id": "70e2816f64b758a9",
        "type": "mqtt out",
        "z": "4fb5716966343de7",
        "name": "Temperatura",
        "topic": "weslleydsg/feeds/ac-monitoring.temperatura",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "cb497bc7bd357efb",
        "x": 1070,
        "y": 140,
        "wires": []
    },
    {
        "id": "6eb4850528fd502a",
        "type": "debug",
        "z": "4fb5716966343de7",
        "name": "Sem conexão",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 60,
        "wires": []
    },
    {
        "id": "821f9d895ddb0658",
        "type": "switch",
        "z": "4fb5716966343de7",
        "name": "Verifica conectado",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8fcf6aa8839eaacc",
                "0c8b326a724c82b8",
                "93b734b92e6e4c75"
            ],
            [
                "878cfe3d224acfa1",
                "6eb4850528fd502a"
            ]
        ]
    },
    {
        "id": "eaadafc6c083f03c",
        "type": "file",
        "z": "4fb5716966343de7",
        "name": "Salvar Log",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1070,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "878cfe3d224acfa1",
        "type": "function",
        "z": "4fb5716966343de7",
        "name": "Conexão falhou ",
        "func": "const estaConectado = global.get(\"estaConectado\");\nif (estaConectado) {\n    global.set(\"estaConectado\", false);\n}\nmsg.estaConectado = estaConectado;\nmsg.payload = \"Conexão falhou\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 320,
        "wires": [
            [
                "e58af1862de12e85"
            ]
        ]
    },
    {
        "id": "e58af1862de12e85",
        "type": "function",
        "z": "4fb5716966343de7",
        "name": "Trata log",
        "func": "const payload = msg.payload;\nmsg.payload = `${new Date().toISOString()}: \"${payload}\"`;\nmsg.filename = `${global.get('root')}/.logs/ac-logs.txt`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 380,
        "wires": [
            [
                "eaadafc6c083f03c"
            ]
        ]
    },
    {
        "id": "c1f9b5365f46455a",
        "type": "function",
        "z": "4fb5716966343de7",
        "name": "Temperatura Errada ",
        "func": "const value = msg.payload;\nmsg.payload = `Leitura do sensor de temperatura fora da faixa: '${value}'`;\nmsg.topic = \"Temperatura incorreta\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 260,
        "wires": [
            [
                "e58af1862de12e85",
                "cd7a172c0054aa0d"
            ]
        ]
    },
    {
        "id": "93b734b92e6e4c75",
        "type": "function",
        "z": "4fb5716966343de7",
        "name": "Atualiza conexão",
        "func": "const estaConectado = global.get(\"estaConectado\");\nif (!estaConectado) {\n    global.set(\"estaConectado\", true);\n    msg.reconactado = true;\n    msg.payload = \"Conexão restabelecida\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 460,
        "wires": [
            [
                "ff96975f179c13f3"
            ]
        ]
    },
    {
        "id": "ff96975f179c13f3",
        "type": "switch",
        "z": "4fb5716966343de7",
        "name": "Reconectado?",
        "property": "reconactado",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 700,
        "y": 460,
        "wires": [
            [
                "e58af1862de12e85"
            ]
        ]
    },
    {
        "id": "cd7a172c0054aa0d",
        "type": "e-mail",
        "z": "4fb5716966343de7",
        "server": "smtp-mail.outlook.com",
        "port": "587",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": false,
        "tls": true,
        "name": "weslleydsg@outlook.com",
        "dname": "Notificar E-mail",
        "x": 1060,
        "y": 280,
        "wires": []
    },
    {
        "id": "7c8642b2156f872a",
        "type": "http request",
        "z": "4fb5716966343de7",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "io.adafruit.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 160,
        "y": 220,
        "wires": [
            [
                "821f9d895ddb0658"
            ]
        ]
    },
    {
        "id": "2c24206a8a00aba1",
        "type": "inject",
        "z": "4fb5716966343de7",
        "name": "Loop",
        "props": [],
        "repeat": "300",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "7c8642b2156f872a"
            ]
        ]
    }
]